absl-py==2.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
cycler==0.11.0
fonttools==4.38.0
grpcio==1.62.2
idna==3.7
imageio==2.9.0
importlib-metadata==6.7.0
kiwisolver==1.4.5
Markdown==3.4.4
matplotlib==3.5.3
networkx==2.6.3
numpy==1.21.6
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
ordered-set==3.1.1
packaging==24.0
Pillow==7.0.0
protobuf==3.11.3
pybind11==2.4.3
pycairo==1.23.0
pygame==2.5.2
PyGObject==3.44.2
PyOpenGL==3.1.5
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.31.0
scikit-image==0.16.2
scipy==1.7.3
six==1.14.0
tb-nightly==1.14.0a20190603
tensorboard==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019060501
torch==1.13.1
torchvision==0.14.1
tqdm==4.43.0
typing_extensions==4.7.1
urllib3==2.0.7
Werkzeug==1.0.0
wrapt==1.12.1
yacs==0.1.6
zipp==3.15.0

